@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Segoe UI", "Inter", sans-serif;
  background: #090d18;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
